<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include('./partials/head') %> <!-- Incluimos el contenido del head -->
	<body>
	  <!-- Header -->
	  <% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	  <% } else { %>
		<%- include('./partials/header') %>
	  <% } %>
	  <!-- /Header -->
  
<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<h2 class="col-12">  <br>
				<h2 class="products-title"></h2>
			</div>
			<div class="container products-wrapper">
			<form action="/product/productAdd" method="post" class="formLOG">
				<div class="input-container">
					<label class="label" for="imagen">Imagen:</label>
					<input class="form-input" type="text" name="imagen" id="imagen" placeholder="URL de la imagen" required>
					<% if (locals.errors && errors.imagen) { %>
						<p class="error"><%= errors.imagen.msg %></p>
					<% } %>
				</div>
				<div class="input-container">
					<label class="label" for="producto">Nombre del producto:</label>
					<input class="form-input" type="text" name="producto" id="producto" placeholder="ej: Lavarropas" required>
					<% if (locals.errors && errors.producto) { %>
						<p class="error"><%= errors.producto.msg %></p>
					<% } %>
				</div>
				<div class="input-container">
					<label class="label" for="descripcion">Descripcion:</label>
					<textarea class="form-input" name="descripcion" id="descripcion" placeholder="Describa su producto" rows="3" required></textarea>
					<% if (locals.errors && errors.descripcion) { %>
						<p class="error"><%= errors.descripcion.msg %></p>
					<% } %>
				</div>
				<button class="btn" type="submit">Agregar Producto</button>
			</form>
			

	<!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- /Footer -->
</body>

</html>