<!DOCTYPE html>
<html lang="es">
	
  <%- include('./partials/head') %> <!-- Incluimos el contenido del head -->

  <body>
    <!-- Header -->
    <% if (locals.user != undefined) { %>
      <%- include('./partials/headerLogueado') %>
    <% } else { %>
      <%- include('./partials/header') %>
    <% } %>
    <!-- /Header -->

    
	<!-- product detail -->
</div>
<div class="col-md-8">
  <div class="card-body">
	<h5 class="card-title"><%= lista.nombre %></h5>
	<p class="card-text"><%= lista.descripcion %></p>
	<img src="/images/products/<%= lista.foto %>">
	<hr>
	
   
  </div>
	<!-- /product detail -->

	<!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- /Footer -->

</body>	
</html>