<!DOCTYPE html>
<html lang="es">
	
  <%- include('./partials/head') %> <!-- Incluimos el contenido del head -->

  <body>
    <!-- Header -->
    <% if (locals.user != undefined) { %>
      <%- include('./partials/headerLogueado') %>
    <% } else { %>
      <%- include('./partials/header') %>
    <% } %>
    <!-- /Header -->

    
	<!-- product detail -->
</div>
<div class="card">


<div class="col-md-6">

  <div class="card-body">
    
      <div class="product-detail-container">
        <h1 class="card-title"><%= lista.nombre %></h1>
        <p class="h2">Creado por: <%= lista.usuarios.nombre %></p>
        <p class="card-text"><%= lista.descripcion %></p>
        <div class="product-detail-image">
          <img src="/images/products/<%= lista.foto %>" alt="<%= lista.nombre %>">
          
        </div>
      </div>
      
	<hr>
	
   
  </div>
	<!-- /product detail -->
</div>
</div>
	<!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- /Footer -->

</body>	
</html>