<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %> 
</head>

  <!-- Header -->
  <% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- /Header -->

  <!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= lista.nombre%>
						<% if(locals.user != undefined && locals.user.id == lista.id) { %>
						<% } %>
					</h1>
				</div>
				<div>
					<ul class="perfil">
						<li><%= lista.email%> </li>
						<li>Seguidores:200 </li>
						<li><figure class="product-box_image">
							<img src="/images/users/<%= lista.foto %>" alt="<%= lista.foto %>">
						  </figure></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -