<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %> <!-- Incluimos el contenido del head -->

	<body>
	  <!-- Header -->
	  <% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	  <% } else { %>
		<%- include('./partials/header') %>
	  <% } %>
	  <!-- /Header -->
  

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			
			<h2 class="col-12"> <i>
				<div class="container products-wrapper">
					<div class="row">
					
						<% if (lista.length === 0) { %>
							<div class="col-12">
								<p>No hay resultados para su criterio de búsqueda.</p>
							</div>
						<% } else { %>
						<% for (let i = 0; i < lista.length; i++) { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									
									<a href="/product/detalle/<%=lista[i].id%>">
										<figure class="product-box_image">
											<img src= "public/images/products/"<%=lista[i].foto %> alt="cafetera moulinex">
										</figure>
										<article class="product-box_data">
											<h2><%= lista[i].nombre%></h2>
											<p>Creado por: <%= lista[i].usuarios.nombre%></p>
				
										</article>
									</a>
								</section>
							</div>
							<%} %>
							<% } %>
								
					</div>
				</div>
			</h2>


	<!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- /Footer -->
</body>

</html>